@* Sidebar navigation for the demo. Grouped by feature area. *@

<nav class="sidebar">
    <div class="brand">
        <span class="logo">R</span>
        <span>
            <a href="/">BlazorRichTextEditor</a>
            <small>Component demo &amp; usage guide</small>
        </span>
    </div>

    <div class="nav-group">
        <h4>Start here</h4>
        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">Overview</NavLink>
        <NavLink class="nav-link" href="/getting-started">Getting started</NavLink>
        <NavLink class="nav-link" href="/binding">Two-way binding</NavLink>
    </div>

    <div class="nav-group">
        <h4>Editing</h4>
        <NavLink class="nav-link" href="/formatting">Formatting</NavLink>
        <NavLink class="nav-link" href="/links">Links</NavLink>
        <NavLink class="nav-link" href="/images">Images</NavLink>
        <NavLink class="nav-link" href="/media">Media &amp; rules</NavLink>
        <NavLink class="nav-link" href="/tables">Tables</NavLink>
        <NavLink class="nav-link" href="/colors-and-fonts">Colors &amp; fonts</NavLink>
    </div>

    <div class="nav-group">
        <h4>Productivity</h4>
        <NavLink class="nav-link" href="/markdown">Markdown</NavLink>
        <NavLink class="nav-link" href="/slash-and-shortcuts">Slash &amp; shortcuts</NavLink>
        <NavLink class="nav-link" href="/find-and-fullscreen">Find &amp; full screen</NavLink>
    </div>

    <div class="nav-group">
        <h4>Toolbar &amp; output</h4>
        <NavLink class="nav-link" href="/toolbar">Toolbar groups</NavLink>
        <NavLink class="nav-link" href="/custom-toolbar">Custom toolbar</NavLink>
        <NavLink class="nav-link" href="/source-and-sanitization">Source &amp; sanitization</NavLink>
    </div>

    <div class="nav-group">
        <h4>Integration</h4>
        <NavLink class="nav-link" href="/forms">Forms &amp; validation</NavLink>
        <NavLink class="nav-link" href="/theming">Theming, RTL &amp; i18n</NavLink>
        <NavLink class="nav-link" href="/api-and-events">API &amp; events</NavLink>
    </div>
</nav>
